input.form-control {
    margin-bottom: 5px;
}



.navbar-default .navbar-brand{
    color:#fff !important; ;
}

body {
    padding-top: 70px;
    margin-bottom: 70px;
    overflow-y: scroll;
    /*background-color: #e7e7e7;*/
}

.list-group-item{
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;

}

.login-header{

    margin-top: 40px;
}

.blue-text{
    color: #2e6da4;
}

.right-line{
    height: 87vh;
    border-right: 1px solid lightgrey;
    margin-top: -20px;
}
.right-down{
    margin-top: 20px;
}
.navbar-default{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.navbar-default .navbar-text{
    color:#fff;
}

.navbar-default .navbar-link{
    color:#fff  !important;
}
.navbar-default .navbar-toggle:hover{
    color:#fff;
}


@media (min-width: 992px) and (orientation:landscape) {
    .col-md-4 {
    }
}

.no-margin-bottom{
    margin-bottom: 0px;
}

.navbar-text{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.up{
    position: absolute;
    padding-right: 0px;
    height: 25px;
}

.widget-style{
    background-color: white;
    border-bottom-left-radius: 5px;
}

.h2-margin{
    margin-top: 0px;
    margin-bottom:0px;"
}

/*.p-w-list{*/
    /*margin-top:10px;*/
/*}*/

.last-row{
    margin-bottom: 60px;
}

.pos-widget{
    position: relative;
}

.margin-r{
    margin-right: 20px !important;
}

.nav-r{
    margin-right:10px;
}

a:hover{
   text-decoration: none;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
