<div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <div class=" pull-left">
                        <div>
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link navbar-text pull-left margin-r">
                                <span class="glyphicon glyphicon-chevron-left"/>
                            </a>
                            <p class="navbar-text pull-right">
                                Edit Page
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <p class="navbar-text pull-right">
                        <a href ng-click="model.updatePage(model.page._id,model.page)" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <form>
            <div class="form-group">
                <label for="pname" class="no-margin-bottom">Name</label>
                <input ng-model="model.page.name" type="text" class="form-control" id="pname" value="Blog Post">

                <label for="ptitle" class="no-margin-bottom">Title</label>
                <input ng-model="model.page.description" type="text" class="form-control" id="ptitle" placeholder="Page Title">
            </div>

            <a class="btn btn-danger  btn-block"
               ng-click="model.deletePage(model.page._id)">Delete</a>
        </form>

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                </div>
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.uid}}" class="navbar-link">
                            <span class="glyphicon glyphicon-user"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

</div>
