<div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <div class=" pull-left">
                        <div>
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link navbar-text pull-left margin-r">
                                <span class="glyphicon glyphicon-chevron-left"/>
                            </a>
                            <p class="navbar-text pull-right">
                                Choose Widget
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left">
                        <a href ng-click="model.createWidget(model.createHeaderWidget)" class="blue-text">Header</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left blue-text">Label</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left">
                    <a href ng-click="model.createWidget(model.createHTMLWidget)" class="blue-text">HTML</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left">
                    <a href ng-click="model.createWidget(model.createTextWidget)" class="blue-text">Text Input</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left blue-text">Link</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left blue-text">Button</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left">
                        <a href ng-click="model.createWidget(model.createImageWidget)" class="blue-text">Image</a>
                    </p>

                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left">
                        <a href ng-click="model.createWidget(model.createYoutubeWidget)" class="blue-text">You Tube</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left blue-text">Data Table</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                    <p class="pull-left blue-text">Repeater</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                </div>
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.uid}}" class="navbar-link">
                            <span class="glyphicon glyphicon-user"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

</div>
