<div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <div class=" pull-left">
                        <div>
                            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link navbar-text pull-left margin-r">
                                <span class="glyphicon glyphicon-chevron-left"/>
                            </a>
                            <p class="navbar-text pull-right">
                                Widget Edit
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <p class="navbar-text pull-right">
                        <a href ng-click="model.updateWidget(model.widget); submitted=true" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <form name="myForm">
            <div class="form-group">
                <label  for="winame" class="no-margin-bottom">Name</label>
                <input required ng-class="{ 'error-when' : submitted && myForm.name.$error.required }"
                       ng-model="model.widget.name" type="text" class="form-control" id="winame" value={{model.widget.name}}>
                <span ng-show="submitted && myForm.name.$error.required" class="err">
                    *Required Field
                </span>
            </div>
            <div class="form-group">
                <label  for="witext" class="no-margin-bottom">Text</label>
                <input ng-model="model.widget.text" type="text" class="form-control" id="witext" value={{model.widget.text}}>
            </div>
            <div class="form-group">
                <label  for="wiurl" class="no-margin-bottom">URL</label>
                <input ng-model="model.widget.url" type="url" class="form-control" id="wiurl">
            </div>
            <div class="form-group">
                <label  for="wiwidth" class="no-margin-bottom">Width</label>
                <input ng-model="model.widget.width" type="text" class="form-control" id="wiwidth" value={{model.widget.width}}>

                <a class="btn btn-danger  btn-block"
                   href ng-click="model.deleteWidget(model.widget)">Delete</a>
            </div>
        </form>
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                </div>
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.uid}}" class="navbar-link">
                            <span class="glyphicon glyphicon-user"/>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

</div>
