<div>

    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-brand pull-left">
                    Profile
                </p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href ng-click="model.updateUser(model.user)" class="navbar-link" >
                        <span class="glyphicon glyphicon-ok"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

    <div class="container">
        <div ng-if="model.success" class="alert alert-success" role="alert">
            {{model.success}}
        </div>

        <div ng-if="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Alicia">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
            </div>
        </form>

        <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/website">Websites</a>

        <a ng-click="model.deleteUser()" class="btn btn-danger  btn-block">Delete</a>

        <a ng-click="model.logout ()" class="btn btn-danger  btn-block" href="#/login">Logout</a>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
                <div class="row">
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <p class="navbar-text pull-right">
                            <a href="#/user/{{model.user._id}}" class="navbar-link">
                                <span class="glyphicon glyphicon-user"/>
                            </a>
                        </p>
                    </div>
                </div>
    </div>
</nav>

</div>
